@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --gray-100: #D3D6DD;
  --gray-200: #F5F7F7;
  --gray-300: #818798;
  --gray-400: #2D3242;
  --blue-100: #2D97F9;
  --turquoise-100: #01B9C5;
  --red-100: #FD4D35;
}

body {
  background: var(--gray-200);
  font-family: var(--ptRootUi);
}
